<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ cfg.language|e }}">
<head>
    <title>{% block title %}{% endblock %} &mdash; {{ cfg.blog_title|e }}</title>
    <link rel="stylesheet" type="text/css"
        href="{{ shared_url('mg_theme::styles') }}/layout.css">
    <link rel="stylesheet" type="text/css"
        href="{{ shared_url('mg_theme::styles') }}/blog.css">
    <script type="text/javascript"
        src="{{ shared_url('mg_theme::scripts') }}/jquery-1.4.1.min.js"></script> 
    {{ get_page_metadata() }}
</head>
<body id="top">

<div class="wrapper">
  <div id="header">
    <div class="fl_left">
      <h1><a href="{{ url_for('blog/index')|e }}">{{ cfg.blog_title|e }}</a></h1>
      <p>{{ cfg.blog_tagline }}</p>
    </div>
    <div class="fl_right">
        <!--<a href="#"><img src="{{ shared_url('mg_theme::images') }}/demo/468x60.gif" alt="" /></a>-->
    </div>
    <br class="clear" />
  </div>
</div>

<div class="wrapper col2">
  <div id="topbar">
    <div id="topnav">
      <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/archive">Archive</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/photography">Photography</a></li>
        <li class="last"><a href="/project">Projects</a></li>
      </ul>
    </div>
    <div id="search"></div>
    <br class="clear" />
  </div>
</div>


<div class="wrapper">
  <div class="container">
    <div class="content">
      <div id="featured_slide">

        {{ emit_event('before-contents-rendered') }}
        {% block contents %}{% endblock %}
        {{ emit_event('after-contents-rendered') }}

      </div>
    </div>
    <div class="column">

        {{ render_widgets() }}

    </div>
    <br class="clear" />
  </div>
</div>


<div class="wrapper">
  <div id="socialise">
    <ul>
      <li><a href="#"><img src="{{ shared_url('mg_theme::images') }}/facebook.gif" alt="" /><span>Facebook</span></a></li>
      <li><a href="#"><img src="{{ shared_url('mg_theme::images') }}/rss.gif" alt="" /><span>FeedBurner</span></a></li>
      <li class="last"><a href="#"><img src="{{ shared_url('mg_theme::images') }}/twitter.gif" alt="" /><span>Twitter</span></a></li>
    </ul>
    <br class="clear" />
  </div>
</div>


<div class="wrapper col8">
  <div id="copyright">
    <p class="fl_right">{% trans
        zine='<a href="http://zine.pocoo.org/">Zine</a>',
        python='<a href="http://python.org/">Python</a>',
        mysql='<a href="http://dev.mysql.com/">MySQL</a>'
    %}Proudly powered by {{ zine }}, {{ python }}, {{ mysql }}.{% endtrans %}</p>
    <br class="clear" />
  </div>
</div>


</body>
</html>
