<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ cfg.language|e }}">
<head>
    <title>{% block title %}{% endblock %} &mdash; {{ cfg.blog_title|e }}</title>
    <link rel="stylesheet" type="text/css"
        href="{{ shared_url('mg_theme::styles') }}/layout.css">
    <link rel="stylesheet" type="text/css"
        href="{{ shared_url('mg_theme::styles') }}/blog.css">
    {{ get_page_metadata() }}
</head>
<body id="top">

<div class="wrapper">
  <div id="header">
    <div class="fl_left">
      <h1><a href="{{ url_for('blog/index')|e }}">{{ cfg.blog_title|e }}</a></h1>
      <p>{{ cfg.blog_tagline }}</p>
    </div>
    <div class="fl_right">
        <!--<a href="#"><img src="{{ shared_url('mg_theme::images') }}/demo/468x60.gif" alt="" /></a>-->
    </div>
    <br class="clear" />
  </div>
</div>

<div class="wrapper col2">
  <div id="topbar">
    <div id="topnav">
      <ul>
        <li{% if request.path == '/' %} class="active"{% endif %}><a href="/">Home</a></li>
        
        <li{% if request.path == '/archive' %} class="active"{% endif %}><a href="/archive">Archive</a></li>
        <li{% if request.path == '/photography' %} class="active"{% endif %}><a href="/photography">Photography</a></li>
        <li{% if request.path == '/portfolio' %} class="active"{% endif %}><a href="/portfolio">Portfolio</a></li>
        <li{% if request.path == '/projects' %} class="active"{% endif %}><a href="/projects">Projects</a></li>
        <li class="last{% if request.path == '/contact' %} active{% endif %}"><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div id="search"></div>
    <br class="clear" />
  </div>
</div>


<div class="wrapper">
  <div class="container">
    <div class="content">

        {{ emit_event('before-contents-rendered') }}
        {% block contents %}{% endblock %}
        {{ emit_event('after-contents-rendered') }}

    </div>
    <div class="column">

        {{ render_widgets() }}

    </div>
    <br class="clear" />
  </div>
</div>


<div class="wrapper">
  <div id="socialise">
    <ul>
      <li><a href="{{ url_for('blog/atom_feed')|e }}"><img src="{{
          shared_url('mg_theme::images') }}/rss.gif" alt="rss" /></a></li>
      <li><a href="http://www.facebook.com/profile.php?id=15501873"><img src="{{
          shared_url('mg_theme::images') }}/facebook.gif" alt="Facebook" /></a></li>
      <li><a href="http://www.linkedin.com/in/michaeldgriffith"><img src="{{
          shared_url('mg_theme::images') }}/linkedin.gif" alt="LinkedIn" /></a></li>
      <li class="last"><a href="http://twitter.com/bikegriffith"><img src="{{
          shared_url('mg_theme::images') }}/twitter.gif" alt="Twitter" /></a></li>
    </ul>
    <br class="clear" />
  </div>
</div>


<div class="wrapper col8">
  <div id="copyright">
    <p class="fl_right">{% trans
        zine='<a href="http://zine.pocoo.org/">Zine</a>',
        python='<a href="http://python.org/">Python</a>',
        mysql='<a href="http://dev.mysql.com/">MySQL</a>'
    %}Proudly powered by {{ zine }}, {{ python }}, {{ mysql }}.{% endtrans %}</p>
    <br class="clear" />
  </div>
</div>


</body>
</html>
